$svgs: ("arrow", "facebook", "twitter", "youtube");

[class^="svg-"],
.svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &.left {
    transform: rotate(180deg);
  }

  &.right {
    transform: rotate(-180deg);
  }

  &.top {
    transform: rotate(90deg);
  }

  &.bottom {
    transform: rotate(90deg);
  }
}

@each $key, $value in $svgs {
  .svg-#{$key} {
    background-image: url("/img/svg/" + $key + ".svg");
    background-size: contain;
  }
}
