body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black-400);
  background-color: var(--color-white-100);

  &.darkmode {
    color: var(--color-white-100);
    background-color: var(--color-black-400);
  }

  main {
    height: 100%;
    width: 100%;
  }
}

.hidden {
  display: none !important;

  &-xs {
    @include breakpoint-down($lg) {
      display: none !important;
    }
  }

  &-sm {
    @include breakpoint-down($md) {
      display: none !important;
    }
  }

  &-md {
    @include breakpoint-up($lg) {
      display: none !important;
    }
  }
}
